.UserCard{
  border: 1px solid #e5e4e7;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  padding: 16px;
  margin: 16px;
}

.UserCard:hover{
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  border: 1px solid beige;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

.PostCard{
  border: 1px solid #e5e4e7;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  padding: 16px;
  margin: 16px;
}

.PostCard:hover{
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  border: 1px solid beige;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}